<!doctype html>
<html th:replace="~{/fragments/layout :: layout(~{::title}, ~{}, ~{}, ~{::main})}">
    <head>
        <title th:text="|Courses - Edit Course #${course.id}|"></title>
    </head>     
    <body>
        <main role="main">
            <div class="container mt-3">
                <h3>Courses</h3>
                <hr>                
                <h4 class="mb-4" th:text="|Courses - Edit Course #${course.id}|"></h4>
                
                <div class="row">
                    <div class="col-4">
                        <form action="#" th:action="|/courses/edit/${course.id}|" th:object="${course}" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Grade</label>
                                <select class="form-select" th:field="*{grade}" aria-label="Course dropdown">
                                    <option value="0" th:selected="${course.grade.id==75}">Select an option</option>
                                    <option 
                                        th:each="grade : ${grades}" 
                                        th:value="${grade.id}" 
                                        th:text="${grade.name}" 
                                        th:selected="${course.grade.id==grade.id}"
                                    >
                                    </option>
                                </select>                               
                                <span th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"></span>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Subject</label>
                                <select class="form-select" th:field="*{subject}" aria-label="Subject dropdown">
                                    <option selected value="0">Select an option</option>
                                    <option 
                                        th:each="subject : ${subjects}" 
                                        th:value="${subject.id}" 
                                        th:text="${subject.name}">
                                    </option>
                                </select>                               
                                <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span>
                            </div>

                            <div class="mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="active" th:field="*{active}">
                                <label class="form-check-label" for="active">
                                    Active
                                </label>                           
                                <span th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></span>
                            </div>                            
                                                       
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a th:href="|/courses/|" role="button" class="btn btn-secondary">Back to List</a>
                        </form>                        
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
