<!doctype html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{}, ~{}, ~{::main})}">
    <head>
        <title th:text="${titleThis}"></title>
    </head>     
    <body>
        <main role="main" class="flex-shrink-0">
            <div class="container mt-3">
                <h3>Dashboard</h3>
                <hr>                
            </div>

            <div class="container mt-3">
                <h4>Student Report This Quarter</h4>
                
                <div class="mt-3 col-4">
                    <table class="table table-bordered table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Student</th>
                                <th scope="col">Total Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="element : ${students.entrySet()}">
                                <td th:text="${element.getValue().getFullName()}"></td>
                                <td th:text="${element.getValue().getTotalDuration()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>
